/* media queries variables */
$maxXs: "(max-width: 575px)";
$minSm: "(min-width: 576px)";
$maxSm: "(max-width: 767px)";
$minMd: "(min-width: 768px)";
$maxMd: "(max-width: 991px)";
$minLg: "(min-width: 992px)";
$maxLg: "(max-width: 1199px)";
$minXLg: "(min-width: 1200px)";

$mainColor: #e2494c;
$greyColor: #9c9c9c;

