.slides{
    blockquote{
        width: 60%;
        margin: 20px auto;
        font: {
            weight: bold;
            style: italic;
        }
        line-height: 1.7;
        color: #555;
        @media #{$maxMd}{
            width: 95%;
        }
    }
    .carousel{
        height: 500px;
        .carousel-indicators li{
            width: 20px;
            height: 20px;
        }
        .carousel-inner{
            height: 100%;
            .carousel-item{
                height: 100%;
                img{
                    height: 100%;
                }
            }
        }
    }
}